.loginWrapper{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formBox{
    border:1px solid grey;
    width: 50%;
    height: 60%;
    border-radius: 10px;
    display: flex;
}

.secure{
    width: 150px;
}

.form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.formImg{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    text-align: center;
}

.info>div>p{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.input{
    border: 1px solid black;
    height: 30px;
}

.inputWrapper{
    display: flex;
    justify-content: space-around;
}

.logination{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 180px;
    width: 90%;
}

.logination>div>input{
    margin: 0 auto;
    border: 1px solid black;
    width: 80%;
    height: 35px;
    border-radius: 10px;
}

.logination>div>p{
    padding-left: 30px;
    opacity: 0.5;
    width: 90%;
    text-decoration: underline;
}

.send{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.bntSend{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background: darkslategray;
    color: white;
    font-size: 16px;
}

.signIn{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.signIn>p{
    padding: 15px 0;
    text-decoration: underline;
}